*{
  box-sizing: border-box;
}
body{
  font-family: Arial;
  margin: 0;
}
.header{
  padding: 60px;
  text-align: center;
  background-color: #1abc9c;
  color: white;
}
.navbar{
  display: flex;
  background-color: #333;
}
.navbar a{
  color: white;
  padding: 14px 20px;
  text-align:center;
  text-decoration: none;
}
.row{
  display: flex;
  flex-flow: row wrap;
}
.side{
  flex:30%;
  background-color: #f1f1f1;
  padding : 20px;
}
.main{
  flex: 70%;
}
.column{
  float:left;
  padding: 10px;
}
.card{
  padding: 10px 10px;
  border: 1px solid;
  box-shadow: 0 4px 8px 0 #888888;
  border-radius: 25px;
  margin-top: 10px;
  font-family: cursive;
  background-color: #f1f1f1;
  transition:2s;
}
.card:hover{
  border: 2px solid yellow;
  box-shadow: 10px 10px 10px 10px #888888;
}
.fakeimg{
  background-color: #aaa;
  width: 100%;
  padding : 20px;
}
.sidebar{
  display:flex;
  height:60px;
  padding:20px;
  border: 1px solid;
  transition : 1s;
}
.sidebar:hover{
  border: 2px solid;
  box-shadow: 5px 5px 5px 5px #c8d2d2;
}
.footer{
  flex:100%;
  padding: 20px;
  text-align: center;
  background: #ddd;
}

p:nth-of-type(2){
  font-family:cursive;
  color: lime;
}
.transition{
  width:100px;
  transition:width 2s;
  -webkit-transition: width 2s;
}
.transition:hover{
  width:300px;
}
.profile-img{
  border-radius:100%;
  border:1px solid lime;
  width:230px;
}
