*{
  box-sizing: border-box;
}
body{
  font-family: Arial;
  margin: 0;
}
.header{
  padding: 60px;
  text-align: center;
  background-color: #1abc9c;
  color: white;
}
.navbar{
  display: flex;
  background-color: #333;
}
.navbar a{
  color: white;
  padding: 14px 20px;
  text-align:center;
  text-decoration: none;
}
.container{
  display:flex ;
  flex-direction: row;
  justify-content:space-between;
  height:200px
}
.row{
  display:flex;
  flex-wrap: wrap;
}
.side{
  flex:30%;
  background-color: #f1f1f1;
  padding : 20px;
}
.main{
  flex: 70%;
  background-color: white;
  padding: 10px 10px;
  padding-left: 42px;
  border: 1px solid;
  height: 200px;
  box-shadow: 5px 10px 8px 10px #888888;
  border-radius: 25px;
  margin-top: 10px;
  font-family: 'Indie Flower',cursive;
}
.fakeimg{
  background-color: #aaa;
  width: 100%;
  padding : 20px;
}
.sidebar{
  display:flex;
  height:60px;
  padding:20px;
  border: 1px solid;
}
.footer{
  padding: 20px;
  text-align: center;
  background: #ddd;
}
